body {
    background-color: #05366b;
    margin-top: 140px;
}

header {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 120px;
    background-color: #379683;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-style: solid;
    border-width: 10px;
}

#title {
    margin-bottom: 0px;
    font-family: sans-serif;
}

#container {
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    align-items: center;
}

footer {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    height: 60px;
    display: flex;
    padding-right: 10px;
    justify-content: center;
}
